.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.card {
  width: 420px;
  max-width: 92vw;
}

.actions {
  padding: 0 16px 16px 16px;
  display: flex;
  justify-content: flex-end;
}
